# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
nodes/

# Python artifacts
__pycache__/
.venv/
.env
pipeline/*.cache

# IDEs and OS files
.vscode/
.DS_Store
thumbs.db

# Astro specific
.astro/
