---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = getSortedPosts(await getCollection("blog"));
  return paginate(posts, { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`All Papers | ${SITE.title}`}>
  <Header />
  <Main pageTitle="All Papers">
    <ul>
      {page.data.map(post => <Card {...post} />)}
    </ul>
  </Main>
  <Pagination {page} />
  <Footer />
</Layout>
