---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = getSortedPosts(await getCollection("blog"));
  return paginate(posts, { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="All Papers">
  <main id="main-content" class="app-layout pt-6 pb-4">
    <h1 class="mt-6 mb-0 text-2xl font-semibold">All Papers</h1>
    <ul>
      {page.data.map(post => <Card {...post} />)}
    </ul>
    <Pagination {page} />
  </main>
</Layout>
