---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import LinkButton from "@/components/LinkButton.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";

const posts      = await getCollection("blog");
const sorted     = getSortedPosts(posts);
const recent     = sorted.slice(0, SITE.postPerIndex);
const hasMore    = sorted.length > SITE.postPerIndex;
---

<Layout title={SITE.title} description={SITE.desc}>
  <Header />
  <main id="main-content" class="app-layout pt-8 pb-12">
    <ul>
      {recent.map(post => <Card variant="h2" {...post} />)}
    </ul>

    {
      hasMore && (
        <div class="mt-4 text-center">
          <LinkButton href={`${import.meta.env.BASE_URL}posts/`}>
            All papers
            <IconArrowRight class="inline-block rtl:-rotate-180" />
          </LinkButton>
        </div>
      )
    }
  </main>
  <Footer />
</Layout>
