---
import type { CollectionEntry } from "astro:content";
import Datetime from "./Datetime.astro";

type Props = CollectionEntry<"blog">;

const { data } = Astro.props;
const { title, link, koreanSummary, pubDatetime } = data;
---

<li class="border-b border-border last:border-0 py-5">
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="font-medium text-accent hover:underline decoration-dashed underline-offset-4"
  >
    {title}
  </a>
  <Datetime {pubDatetime} class="mt-1" />
  {koreanSummary && (
    <p class="mt-1.5 text-sm leading-relaxed opacity-65">{koreanSummary}</p>
  )}
</li>
