---
import IconMoon from "@/assets/icons/IconMoon.svg";
import IconSearch from "@/assets/icons/IconSearch.svg";
import IconSunHigh from "@/assets/icons/IconSunHigh.svg";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";

const { pathname } = Astro.url;
const isSearch = pathname.endsWith("/search") || pathname.includes("/search/");
---

<a
  id="skip-to-content"
  href="#main-content"
  class="absolute start-16 -top-full z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg transition-all focus:top-4"
>
  Skip to content
</a>

<header class="app-layout">
  <div
    class="flex items-center justify-between border-b border-border py-4 sm:py-5"
  >
    <a
      href="/"
      class="text-xl font-semibold whitespace-nowrap hover:text-accent sm:text-2xl"
    >
      {SITE.title}
    </a>

    <div class="flex items-center gap-1">
      <LinkButton
        href="/search"
        class:list={[
          "focus-outline flex items-center p-2 hover:[&>svg]:stroke-accent",
          { "[&>svg]:stroke-accent": isSearch },
        ]}
        title="Search"
        aria-label="search"
      >
        <IconSearch />
        <span class="sr-only">Search</span>
      </LinkButton>

      {
        SITE.lightAndDarkMode && (
          <button
            id="theme-btn"
            class="focus-outline relative size-10 p-2 hover:[&>svg]:stroke-accent"
            title="Toggle light / dark"
            aria-label="auto"
            aria-live="polite"
          >
            <IconMoon class="absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90" />
            <IconSunHigh class="absolute top-[50%] left-[50%] -translate-[50%] scale-0 rotate-90 transition-all dark:scale-100 dark:rotate-0" />
          </button>
        )
      }
    </div>
  </div>
</header>
