---
import { SITE } from "@/config";
---

<header class="app-layout">
  <div class="flex items-center justify-between border-b border-border py-4">
    <a
      href="https://ymnhn.github.io/cognigraph/"
      class="text-xl font-semibold hover:text-accent"
    >
      {SITE.title}
    </a>
  </div>
</header>
