---
// 모든 import를 일시적으로 주석 처리하거나 제거하세요.
// import Header from "@/components/Header.astro"; 

const { frontmatter } = Astro.props as any;
---

<!doctype html>
<html>
  <head>
    <title>{frontmatter?.title || "About"}</title>
  </head>
  <body>
    <h1>{frontmatter?.title}</h1>
    <slot />
  </body>
</html>