---
type Props = { pageTitle: string };
const { pageTitle } = Astro.props;
---

<main id="main-content" class="app-layout pb-4">
  <h1 class="mt-6 mb-0 text-2xl font-semibold">{pageTitle}</h1>
  <slot />
</main>
